/* CSS BoilerPlate by Zoayb */

@font-face {
  font-family: "Lobster";
  src: url("../fonts/LobsterTwo-Regular.woff") format("woff");
}
@import url("https://fonts.googleapis.com/css?family=Manjari:400,700&display=swap");

$orange: #ffab46;
$black: #050505;
$text: #3a3a3a;
$light-green: #00a651;
$dark-green: #014c26;

*,
::after,
::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  font-size: 18px;
  line-height: 30px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  min-width: 300px;
  overflow-x: hidden;
  overflow-y: scroll;
}

body {
  width: 100%;
  height: 100%;
  color: $text;
  background-color: #fff;
  line-height: 1.6666667rem;
  font-size: 1rem;
  font-family: "Manjari", sans-serif;
  font-weight: 400;
  overflow-x: hidden;
}

h1,
h2,
h3 {
  font-family: "Lobster", sans-serif;
  color: $black;
  margin: 0 auto 1rem;
}

h1,
.h1 {
  font-size: 2.5rem;
  font-weight: 700;
}

h2,
.h2 {
  font-size: 2rem;
}

h3,
.h3 {
  font-size: 1.5rem;
  // font-family: 'Manjari', sans-serif;
  font-weight: 700;
}

.section-title {
  text-align: center;
}

hr {
  width: 100%;
}

ul {
  list-style: none;
  display: block;
}

p {
  margin-bottom: 2rem;
}

small {
  color: inherit;
  text-transform: uppercase;
  font-weight: bold;
}

section {
  padding: 2rem 0;
}

img {
  max-width: 100%;
}

[class*="col-"] {
  margin-bottom: 30px;
}

/////// ******** Navbar ******** \\\\\\\\

.btn {
  padding: 0.375rem 1.5rem;
  line-height: 1.5;
  border-radius: 1.5rem;

  &.btn-white {
    background: #fff;
    color: $black;

    &:hover {
      background: $light-green;
      color: $dark-green;
    }
  }

  &.btn-green {
    background: $light-green;
    color: $dark-green;

    &:hover {
      background: #fff;
      color: $black;
    }
  }
}

/////// ******** Navbar ******** \\\\\\\\

.navbar {
  background: $orange !important;
  padding: 20px;

  & .nav-item {
    margin-left: 2rem;
  }
}

/////// ******** Hero ******** \\\\\\\\

.hero {
  width: 100%;
  height: 60vh;
  background: url(../images/hero.jpg) center no-repeat;
}

/////// ******** Section Theme ******** \\\\\\\\

.theme-img {
  width: 30vw;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

// * Members * \\

.card {
  height: 100%;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
  border-radius: 0.45rem;
  overflow: hidden;
  z-index: 2;
}

.members {
  margin: 2rem 0;

  & .img-square-wrapper {
    width: 200px;

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

/////// ******** Events ******** \\\\\\\\

#events {
  background: $orange;
  position: relative;

  & .date {
    font-size: 0.65em;
    background: $light-green;
    color: white;
    padding: 0.4em 0.8em;
    border-radius: 0.4em;
  }

  &:after {
    position: absolute;
    content: '';
    background: url(../images/embel-1.png) center no-repeat;
    background-size: 100%;
    left: 0;
    bottom: 0;
    width: calc(312px/2);
    height: calc(325px/2);
  }
}

/////// ******** Locate ******** \\\\\\\\

.map iframe {
  width: 100%;
  height: 80vh;
}

/////// ******** Locate ******** \\\\\\\\

#contact-us {
  background: $orange;
  position: relative;

  .has-fa-icon {
    display: flex;

    & .fa {
      margin-right: 1em;
    }
  }
}

/////// ******** Footer ******** \\\\\\\\

footer {
  padding-top: 2rem;

  & .social-icons {
    display: flex;
    justify-content: center;

    & span {
      margin: 1rem 0.5rem;
    }
  }

  & .footer_info {
    background: #e0dede;
    text-align: center;
    font-size: smaller;

    & a {
      color: inherit;

      &:hover {
        color: $dark-green;
      }
    }
  }
}




/* Media Queries */

/* Responsive font-size - works for all devices */

@media (min-width: 375px) {
  :root {
    font-size: calc(18px + 6 * (100vw - 375px) / 1825);
  }
}

/* Glad you're so inquisitive */

/* Just some cool stuffs that I like */

::selection {
  background-color: $dark-green;
  color: #fff;
}
